<input type="textfield" name="question[content]" placeholder="Enter Question Here:">
<ul>
  <li><input type="text" name="question[choices][]" placeholder="Choice 1:"></li>
  <li><input type="text" name="question[choices][]" placeholder="Choice 2:"></li>
  <li><input type="text" name="question[choices][]" placeholder="Choice 3:"></li>
  <li><input type="text" name="question[choices][]" placeholder="Choice 4:"></li>
</ul>
