
<input type="textfield" name="question[content]" placeholder="Enter Question Here:">
<ul>
  <li><input type="text" name="question[choices][choice_1]" placeholder="Choice 1:"></li>
  <li><input type="text" name="question[choices][choice_2]" placeholder="Choice 2:"></li>
  <li><input type="text" name="question[choices][choice_3]" placeholder="Choice 3:"></li>
  <li><input type="text" name="question[choices][choice_4]" placeholder="Choice 4:"></li>
</ul>
