<div class="container">

	<form id="update_user" method="post" action="/update/<%= current_user.id %>">
		<label class="label" for="name">Name</label>
		<input type="text" name="user[name]" value="<%= current_user.name %>">
		<span id="name-errors" class="errors"></span>
		<br>

		<label class="label" for="email">Email</label>
		<input type="email" name="user[email]" value="<%= current_user.email %>">
		<span id="email-errors" class="errors"></span>
		<br>

		<label class="label" for="password">Old Password</label>
		<input type="password" name="user[old_password]" placeholder="Old Password">
		<span id="entered_password-errors" class="errors"></span>
		<br>

		<label class="label" for="password">New Password</label>
		<input type="password" name="user[entered_password]" placeholder="New Password">
		<span id="entered_password-errors" class="errors"></span>
		<br>

		<label class="label" for="password">New Password Confirmation</label>
		<input type="password" name="user[entered_password_confirmation]" placeholder="Confirm Password">
		
		<span id="entered_password-errors" class="errors"></span>
		<br>
		<div class="submit"><input type="submit" value="Update"></div>
	</form>

</div>
