<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/user_auth.js"></script>

  <title></title>
</head>
<body>

  <nav>

    <div class="brand"><a href="/">Eric \ Ted Survey Monkey</a></div>
    <ul>
      <% if current_user %>
        <li><a id="edit" href="/user/edit/<%= current_user.id %>">Edit</a></li>
        <li><a id="sign-out" href="/sessions/<%= current_user.id %>">Sign Out</a></li>

      <% else %>
        <li><a href="/sessions/new">Sign In</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      <% end %>
    </ul>

  </nav>

  <%= yield %>
</body>
</html>
