<div class="container">
  <form class="new_survey" action="/survey/new" method="post">
    <input type="text" name="survey[title]" placeholder="Survey Title" value="<%= @survey.title %>">
  <ul>
      <% @survey.questions.each do |question|%>
      <li><%= question.content %></li>
      <ul><% question.choices.each do |choice|  %>
        <li><%= choice.content %></li>
        <% end %>
      </ul>
      <% end %>
      
  <%= erb :add_question %>
    <div id="extra-questions"></div>
    <!-- <a href="#" id="add-question">Add Question</a> -->
    <input type="submit" value= "Add a question">

  </form>

</div>
